<html>
    <haed>
        <title>Vue Sample</title>
    </haed>
    <body>
        <div id="app">
           <a v-if="flag">두잇 Vue.js</a>
           <ul>
            <li v-for="item in systems">{{item}}</li>
           </ul>
           <p v-show="flag">두잇 Vue.js</p>
           <h5 v-bind:id="uid">뷰 입문서</h5>
           <button v-on:click="popupAlert">경고 창 버튼</button>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router@3.5.3/dist/vue-router.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            new Vue({
               data: {
                    flag: true,
                    systems: ['android','ios','window'],
                    uid: 10
               },
               methods: { 
                    popupAlert: function() {
                        return alert('경고 창 표시');
                    }
               },
            }).$mount('#app');
        </script>
    </body>
</html>